/* prevent problems with different browsers*/
* {box-sizing: border-box;}


body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
/* Header Stuff Here */
header {
    color: #F2F2F2;
    background-color: #0D0D0D;
    padding: .5rem .5vw;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 1vw;
}
header h1 {
    margin: 0;
    color: #F2F2F2;
}
header p {
    margin: 0;
    color: #F2F2F2;
    letter-spacing: 1.4px; 
}

/* small screens */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .5rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: #475459;
    }
    nav .active a {
        background-color: #475459;
        background-image: linear-gradient(to bottom, #475459, #333c3f);
        color: white;
    }
    
    
    
    
} /*end of the media query*/



/*BIG screens*/
@media only screen and (min-width: 801px) {
   
        nav {
        background-color: #BDBFBF;
        }
    nav ul {
        list-style-type: none;
        padding: 0 .5vw;
        margin: 2vw;
        display: flex;
        }
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
        }
    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #0D0D0D;
        font-weight: 700;
        display: block;
        padding: .83rem 1rem;
        }
    nav li.active a {
        background-color: #475459;
        color: #F2F2F2;
        }
    nav a:hover {
        color: #F2F2F2;
        }


} /*end of the media query*/







/* stuff for the main */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #0D0D0D;
    font-size: 2rem;
}
main h2 {
    color: #475459;
    margin-bottom: .2rem; 
}
main p {
    color: #0D0D0D;
    margin-bottom: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #BDBFBF;
}
main dl dt {
    color: #0D0D0D;
    font-weight: 700;
}
main dl dd {
    color: #0D0D0D;
    font-size: .9rem;
}
main ul {
    list-style-type:circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color: #93B7BF;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: .5rem;
}
main a {
    color: #0D0D0D;
}
main a:hover {
    color: #93B7BF;
}
.clothinghero {
    width: 100%;
    margin: 0;
}
.clothinghero img {
    width: 100%;
    height: auto;
}

div.gallery > figure > img:hover {
    box-shadow: 0px 0px 10px #495459;
}

figure.wrapped umg {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #475459;
}

.myForm fieldset {
    border: 1px solid #024873;
    border-radius: 3px;
    margin-bottom: 1rem
}
.myForm legend {
    color: #024873;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=email], .myForm [type=tel], .myForm textarea {
    display:block
}
.myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.myForm textarea {
    height: 6rem;
}
.myForm :required {
    background-color: rgba(100,76,35, 0.1);  
}
.myForm [type=submit] {
    background-color: #93B7BF;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}


/* Footer Stuff Here */
footer {
    background-color: #0D0D0D;
    text-align: center;
    color: #F2F2F2;
    padding: 1rem 0;
    font-size: 1rem;
}
footer a {
    color: #F2F2F2;
}

header, nav, main, footer {
    max-width: 75rem;
    margin: 0 auto;
}